<div class="row">
  <div class="card mx-auto">
    <div class="card-body">

      <a href="/metings/add" class="btn btn-success btn-block">Create Meting!</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  {{#each metings}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/metings/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ date }} </p>
        <p>{{ user }} </p>
        <!-- DELETE REQUEST -->

        <button type="button" class="btn btn-danger" data-toggle="modal"
          data-target="#exampleModal{{_id}}">Delete</button> <br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h1>{{title}}</h1>
                <form action="/metings/delete/{{_id}}?_method=DELETE" method="POST">
                  <div class="form-group">
                    <h6 class="modal-title" id="exampleModalLabel">Realmente quiere eliminar esta Reunion?</h6>

                    <input type="submit" class="btn btn-primary" value="Delete">

                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              </div>

            </div>
          </div>
        </div>
        <!-- Modal -->





        <br>
        <button type="button" class="fas fa-eye" data-toggle="modal" data-target="#ViewModal{{_id}}">View</button>
        <!-- Modal -->
        <div class="modal fade" id="ViewModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Meting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>{{title}}</h3>
                <form action="" method="">
                  <div class="form-group">

                    <label for="">Date and Hour: {{date}}</label><br>
                    <label for="">User: {{user}}</label><br>
                    <label for="">Is Virtua:
                      {{#if isvirtual }}
                      Virtual
                      {{else}}
                      No virtual
                      {{/if}}
                    </label> <br>
                    <label for="">Client:
                      {{#if client }}
                      {{client}}
                      {{else}}
                      No Client
                      {{/if}}
                    </label>


                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              </div>

            </div>
          </div>
        </div>
        <!-- Modal -->



      </div>
    </div>
  </div>


  {{/each}}
</div>