<div class="row">
  <div><a href="/clients/add"><button class="btn btn-success" name="invitado" value="Aceptar" onclick="">+ New
        Client</button>
    </a></div>

  <!-- LIST -->
  <div class="col-md-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="thead-dark">
          <th>Ced</th>
          <th>Name</th>
          <th>Pagina Web</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>sector</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#if clients}}
        {{#each clients}}

        <tr>
          <td>{{ced}}</td>
          <td>{{name}}</td>
          <td>{{pag_web}}</td>
          <td>{{address}}</td>
          <td>{{phone}}</td>
          <td>{{sector}}</td>

          <td>
            <button type="button" class="btn btn-success mt-2" data-toggle="modal"
              data-target="#ViewModal{{_id}}">View</button>
            <!-- Modal -->
            <div class="modal fade" id="ViewModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>{{name}}</h3>
                    <form action="" method="">
                      <div class="form-group">
                        <label for="">Ced: {{ced}}</label><br>
                        <label for="">Pagina web: {{pag_web}}</label><br>
                        <label for="">Adress: {{address}}</label><br>
                        <label for="">Phone: {{phone}}</label> <br>
                        <label for="">Sector: {{sector}}</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->



            <a href="/clients/edit/{{_id}}" class="btn btn-info mt-2">Edit</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mt-2" data-toggle="modal"
              data-target="#exampleModal{{_id}}">Delete</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h1>{{name}} {{last_name}}</h1>
                    <form action="/clients/delete/{{_id}}?_method=DELETE" method="POST">
                      <div class="form-group">
                        <h6 class="modal-title" id="exampleModalLabel">Realmente quiere eliminar este Cliente?</h6>

                        <input type="submit" class="btn btn-primary" value="Delete">

                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->
            <a href="/contacts/{{_id}}" class="btn btn-info mt-2">Contacts</a>
          </td>
        </tr>

        {{/each}}
        {{/if}}
      </tbody>
    </table>

  </div>
</div>