<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Edit Client</h3>
    </div>
    <div class="card-body">
      <form action="/clients/edit-client/{{client._id}}?_method=PUT" method="POST">

        <div class="form-group">
          <div class="form-group">
            <input type="number" name="ced" class="form-control" placeholder="Cedula" value="{{client.ced}}" required
              autofocus>
          </div>
          <input type="text" name="name" class="form-control" placeholder="Name" value="{{client.name}}" required>
        </div>

        <div class="form-group">
          <input type="text" name="pag_web" class="form-control" placeholder="Pagina Web" value="{{client.pag_web}}"
            required>
        </div>
        <div class="form-group">
          <input type="text" name="address" class="form-control" placeholder="Adress" value="{{client.address}}"
            required>
        </div>
        <div class="form-group">
          <input type="number" name="phone" class="form-control" placeholder="Phone" value="{{client.phone}}" required>
        </div>
        <div class="form-group">
          <label for="cars">Sector:</label>
          <select id="cars" name="sector" class="form-control" required>
            <option value="{{client.sector}}">{{client.sector}}</option>
            <option value="Educación">Educación</option>
            <option value="Industria">Industria</option>
            <option value="Agricultura">Agricultura</option>
            <option value="Manufactura">Manufactura</option>
            <option value="Servicios">Servicios</option>
            <option value="Manufactura">Manufactura</option>
            <option value="Otros">Otros</option>
          </select>

        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
      <div><a href="/clients"><button class="btn btn-primary btn-block" name="invitado" value="Aceptar"
            onclick="">Cancelar</button>
        </a></div>
    </div>
  </div>
</div>