<div class="row">
  <div><a href="/suports/add"><button class="btn btn-success" name="invitado" value="Aceptar" onclick="">+ New
        Support Tickets</button>
    </a></div>

  <!-- LIST -->
  <div class="col-md-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="thead-dark">
          <th>Title</th>
          <th>Detalle del problema</th>
          <th>Quien Reporto el probema</th>
          <th>Client</th>
          <th>state</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#if suports}}
        {{#each suports}}

        <tr>
          <td>{{title}}</td>
          <td>{{datelle}}</td>
          <td>{{people}}</td>
          <td>{{client}}</td>
          <td>{{state}}</td>

          <td>
            <button type="button" class="btn btn-success mt-2" data-toggle="modal"
              data-target="#ViewModal{{_id}}">View</button>
            <!-- Modal -->
            <div class="modal fade" id="ViewModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Support Tickets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>{{title}}</h3>
                    <form action="" method="">
                      <div class="form-group">
                        <label for="">Detalle: {{datelle}}</label><br>
                        <label for="">Persona: {{people}}</label><br>
                        <label for="">client: {{client}}</label><br>
                        <label for="">State: {{state}}</label> <br>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->



            <a href="/suports/edit/{{_id}}" class="btn btn-info mt-2">Edit</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mt-2" data-toggle="modal"
              data-target="#exampleModal{{_id}}">Delete</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Support Tickets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h1>{{title}}</h1>
                    <form action="/suports/delete/{{_id}}?_method=DELETE" method="POST">
                      <div class="form-group">
                        <h6 class="modal-title" id="exampleModalLabel">Realmente quiere eliminar este Support Tickets?
                        </h6>

                        <input type="submit" class="btn btn-primary" value="Delete">

                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->

          </td>
        </tr>

        {{/each}}
        {{/if}}
      </tbody>
    </table>

  </div>
</div>