<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Edit Support Tickets</h3>
    </div>
    <div class="card-body">

      <form action="/suports/edit-suport/{{suport._id}}?_method=PUT" method="POST">

        <div class="form-group">
          <input type="" name="title" class="form-control" placeholder="Title" value="{{suport.title}}" required
            autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="datelle" class="form-control" placeholder="Detalle del Problema"
            value="{{suport.datelle}}" required>
        </div>
        <div class="form-group">
          <input type="text" name="people" class="form-control" placeholder="Persona que informo el problema"
            value="{{suport.people}}" required>
        </div>
        <div class="form-group">
          <label for="cars">Clients:</label>
          <select id="cars" name="client" class="form-control" required>
            <option value="{{suport.client}}"> {{suport.client}}</option>
            {{#each clients}}
            <option value="{{name}}">{{name}}</option>

            {{/each}}
          </select>

        </div>
        <div class="form-group">
          <label for="cars">Satet:</label>
          <select id="cars" name="state" class="form-control" required>
            <option value="{{suport.state}}">{{suport.state}}</option>
            <option value="Abierto">Abierto</option>
            <option value="Proceso"> En Proceso</option>
            <option value="Espera">En Espera</option>
            <option value="Finalizado">Finalizado</option>
          </select>

        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
      <div><a href="/suports"><button class="btn btn-primary btn-block" name="invitado" value="Aceptar"
            onclick="">Cancelar</button>
        </a></div>
    </div>
  </div>
</div>