<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/principal">Rest App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/principal">Home <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#if user.type}}
            <a class="dropdown-item" href="/clients">All Clients</a>
            <a class="dropdown-item" href="/metings">All Metings</a>
            <a class="dropdown-item" href="/suports">All Support Tickets</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Logout</a>
            {{else}}

            <a class="dropdown-item" href="/users">All User</a>
            <a class="dropdown-item" href="/clients">All Clients</a>
            <a class="dropdown-item" href="/metings">All Metings</a>
            <a class="dropdown-item" href="/suports">All Support Tickets</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Logout</a>

            {{/if}}
          </div>



        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/signin">Login</a>
        </li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>