<div class="row">
  <div><a href="/contacts/add/{{id_client}}"><button class="btn btn-success" name="invitado" value="Aceptar"
        onclick="">+ New
        Contact</button>
    </a></div>

  <!-- LIST -->
  <div class="col-md-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="thead-dark">

          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Market Stall</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#if contacts}}
        {{#each contacts}}

        <tr>

          <td>{{name}}</td>
          <td>{{last_name}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{market_stall}}</td>

          <td>
            <button type="button" class="btn btn-success mt-2" data-toggle="modal"
              data-target="#ViewModal{{_id}}">View</button>
            <!-- Modal -->
            <div class="modal fade" id="ViewModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>{{name}}{{last_name}}</h3>
                    <form action="" method="">
                      <div class="form-group">

                        <label for="">Email: {{email}}</label><br>
                        <label for="">Phone: {{phone}}</label> <br>
                        <label for="">Puesto: {{market_stall}}</label>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->



            <a href="/contacts/edit/{{_id}}" class="btn btn-info mt-2">Edit</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mt-2" data-toggle="modal"
              data-target="#exampleModal{{_id}}">Delete</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h1>{{name}} {{last_name}}</h1>

                    <form action="/contacts/delete/{{_id}}?_method=DELETE" method="POST">
                      <div class="form-group">
                        <h6 class="modal-title" id="exampleModalLabel">Realmente quiere eliminar este Contacto?</h6>

                        <input type="hidden" name="id_client" value="{{client}}">
                        <input type="submit" class="btn btn-primary" value="Delete">

                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->

          </td>
        </tr>

        {{/each}}
        {{/if}}
      </tbody>
    </table>

  </div>
</div>