<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Edit Client</h3>
    </div>
    <div class="card-body">
      <form action="/contacts/edit-contact/{{contact._id}}?_method=PUT" method="POST">
        <div class="form-group">
          <div class="form-group">
            <input type="hidden" name="client" class="form-control" placeholder="Cedula" value="{{contact.client}}"
              required>
          </div>
          <input type="text" name="name" class="form-control" placeholder="Name" value="{{contact.name}}" required>
        </div>

        <div class="form-group">
          <input type="text" name="last_name" class="form-control" placeholder="Pagina Web"
            value="{{contact.last_name}}" required>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Adress" value="{{contact.email}}" required>
        </div>
        <div class="form-group">
          <input type="number" name="phone" class="form-control" placeholder="Phone" value="{{contact.phone}}" required>
        </div>

        <div class="form-group">
          <input type="text" name="market_stall" class="form-control" placeholder="Puesto"
            value="{{contact.market_stall}}" required>

        </div>

    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">
        Save
      </button>
    </div>
    </form>
    <div><a href="/contacts/{{contact.client}}"><button class="btn btn-primary btn-block" name="invitado"
          value="Aceptar" onclick="">Cancelar</button>
      </a></div>
  </div>
</div>
</div>