<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>New Contact</h3>
    </div>
    <div class="card-body">
      <form action="/contacts/new-contact" method="POST">

        <div class="form-group">
          <input type="hidden" name="client" class="form-control" placeholder="Client" value="{{id_client}}" required>

        </div>
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder=" Name" required>
        </div>

        <div class="form-group">
          <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input type="number" name="phone" class="form-control" placeholder="Phone" required>
        </div>
        <div class="form-group">

          <input type="text" name="market_stall" class="form-control" placeholder="Puesto" required>

        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
      <div><a href="/contacts/{{id_client}}"><button class="btn btn-primary btn-block" name="invitado" value="Aceptar"
            onclick="">Cancelar</button>
        </a></div>
    </div>
  </div>
</div>