{{#unless user.type}}

<div class="row">

  <div><a href="/users/signup"><button class="btn btn-success" name="invitado" value="Aceptar" onclick="">+ New
        User</button>
    </a></div>

  <!-- LIST -->
  <div class="col-md-15">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="thead-dark">
          <th>Name</th>
          <th>Last Name</th>
          <th>User Name</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#if users}}
        {{#each users}}

        <tr>
          <td>{{name}}</td>
          <td>{{last_name}}</td>
          <td>{{user_name}}</td>

          <td>
            <button type="button" class="btn btn-success" data-toggle="modal"
              data-target="#ViewModal{{_id}}">View</button>
            <!-- Modal -->
            <div class="modal fade" id="ViewModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>{{name}}{{last_name}}</h3>
                    <form action="" method="">
                      <div class="form-group">

                        <label for="">User Name: {{user_name}}</label><br>
                        <label for="">Password: {{password}}</label><br>

                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->
            <a href="/users/edit/{{_id}}" class="btn btn-info">Edit</a>
            <!-- Button trigger modal -->

            {{#if type}}


            <button type="button" class="btn btn-danger" data-toggle="modal"
              data-target="#exampleModal{{_id}}">Delete</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{_id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h1>{{name}} {{last_name}}</h1>
                    <form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
                      <div class="form-group">
                        <h6 class="modal-title" id="exampleModalLabel">Realmente quiere eliminar este Usuario?</h6>

                        <input type="submit" class="btn btn-primary" value="Delete">

                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>

                </div>
              </div>
            </div>
            <!-- Modal -->
            {{/if}}
          </td>
        </tr>

        {{/each}}
        {{/if}}
      </tbody>
    </table>

  </div>
</div>
{{else}}

<h1>No eres administrador!!</h1>
<br>
<h1>=(</h1>
{{/unless}}