
{{#unless user.type}}

<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
         <h1 class="h4">
            Account Register 
        </h1>
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{last_name}}" required>
          </div>
            <div class="form-group">
            <input type="text" class="form-control" name="user_name" placeholder="User Name" value="{{user_name}}" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}" required>
          </div>
          <button class="btn btn-primary btn-block">
            Signup 
          </button>
        </form>
        <br>
          <div><a href="/users"><button class="btn btn-primary btn-block" name="invitado" value="Aceptar" onclick="">Cancelar</button>
    </a></div>
      </div>
    </div>
  </div>
</div>
{{else}}

<h1>No eres administrador!!</h1>
<br>
<h1>=(</h1>
{{/unless}}